@define-color base00 #181818;
@define-color base01 rgba(23, 24, 26, 0.5);
@define-color base02 #3b3e47;
@define-color base03 #585858;
@define-color base04 #b8b8b8;
@define-color base05 #d8d8d8;
@define-color base06 #e8e8e8;
@define-color base07 #f8f8f8;
@define-color base08 #ab4642;
@define-color base09 #dc9656;
@define-color base0A #f7ca88;
@define-color base0B #a1b56c;
@define-color base0C #86c1b9;
@define-color base0D #7cafc2;
@define-color base0E #ba8baf;
@define-color base0F #a16946;

* {
  transition: none;
  box-shadow: none;
  padding: 0;
  margin: 0
}

#waybar {
	/* font-family: 'Source Code Pro', sans-serif; */
	font-size: 14px;
	font-weight: 400;
	min-height: 0;
  color: @base04;
  background: @base01;
}

#workspaces {
  margin: 0px;
}

#workspaces button {
    padding: 0 4px;
    border-radius: 2px;
    background-color: transparent;
    /* padding: 4px; */
    color: #ffffff;
    /* Use box-shadow instead of border so the text isn't offset */
    /*box-shadow: inset 0 -3px transparent;*/
}

#workspaces button.visible {
}

#workspaces button.active {
    background-color: #64727D;
    box-shadow: inset 0 -2px #ffffff;
}

#workspaces button.urgent {
  color: rgba(238, 46, 36, 1);
}

#tray {
  margin: 0px 0px 0px 0px;
  border-radius: 4px;
}

#tray * {
  padding: 0px;
  border-left: 1px solid @base00;
}

#tray *:first-child {
  border-left: none;
}

#mode, #battery, #cpu, #memory, #network, #pulseaudio, #idle_inhibitor, #backlight, #custom-storage, #custom-updates, #custom-weather, #custom-mail, #clock, #temperature {
  margin: 0px;
  margin-left: 6px;
  margin-right: 6px;
  padding: 0px;
  background-color: transparent;
  min-width: 20px;
}

#cpu {
	color: #72d950;
	border-bottom: 2px solid #72d950;
	min-width: 40px;
	font-size: 12
}

#battery {
	margin-left: 4px;
	margin-right: 9px
	
}

#temperature {
	color: #e0d536;
	border-bottom: 2px solid #e0d536;
	font-size: 12
}

#memory {
	color: #7436d1;
	border-bottom: 2px solid #7436d1;
	font-size: 12
}

#pulseaudio.muted {
	color: @base0F;
}

#pulseaudio.bluetooth {
  color: @base0C;
}

#clock {
  margin-left: 4px;
  margin-right: 6px;
  background-color: transparent;
  min-width: 60px
}

#temperature.critical {
  color: @base0F;
}

#window {
  font-size: 14;
	font-weight: 400;
	font-family: sans-serif;
}
